
<div class="project" id="project{{index}}">
  <div class="project-image">
    <a href="{{link2}}" target="_blank">
      <img src="{{image}}" alt="{{title}}">
    </a>
  </div>
  <div class="project-info">
    <a href="{{link2}}" target="_blank">
      <h1>{{title}}</h1>
    </a>
    <h5>{{{skills}}}</h5>
    <p>{{description}}</p>
    <a href="{{link1}}" target="_blank"><h5>View code</h5></a>
  </div>
</div>
