{{#nav-bar}}
{{/nav-bar}}
<div class="container about-page">
  <div class="bio row">
    <div class="col-4 greeting">
      <p class="small-title">Greeting</p>
      <h1>Hello again</h1>
    </div>
    <div class="bio-text col-8">
      <p class="small-title">Bio</p>
      <p>
        My name is Aly Doerscher, I'm a frontend developer currently based in Austin, TX. I have a background in art and design and earned a BFA from the Rhode Island School of Design before diving into web development. Along the way I discovered that problem solving is what really excites me. I love mixing logic with aesthetics to create elegant and dynamic sites.
        <br><br>
        In my freetime I like to relax with podcasts and knitting, espeically when accompanied by a purring cat and warm light. On top of being a design nerd, I grew up writing and have managed to publish a few poems of my own. Please enjoy some words and color on the house.
      </p>
    </div>
  </div>
  <div class="inspiration">
    <div class="row">
      <div class="word-info col-6">
        <p class="small-title">Word</p>
        <h1 class="word">{{word}}</h1>
        {{#if part}}
        <p class="part">{{part}}</p>
        {{/if}}
        {{#if defintion}}
        <h5 class="definition">{{definition}}</h5>
        {{/if}}
      </div>
      <div class="color-info col-6">
        <p class="small-title">Color</p>
        <div class="row">
          <div class="color"></div>
          <div class="color-values-wrapper">
            <p class="color-name">{{name}}</p>
            <ul class="color-values">
              <li>{{hex}}</li>
              <li>{{rgb}}</li>
              <li>{{cmyk}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-connect">
    {{#connect-links}}
    {{/connect-links}}
  </div>
</div>
