{{#nav-bar}}
{{/nav-bar}}

<div class="container experience">
  <p class="small-title">Experience</p>
  {{#each experience as |experience|}}
  <div class="row">
    <div class="col-4">
      <h1>{{experience.title}}</h1>
      <h3>{{experience.company}}</h3>
      <h5>{{experience.location}}, {{experience.date}}</h5>
    </div>
    <div class="col-8">
      <p class="experience-description">{{experience.description}}</p>
    </div>
  </div>
  {{/each}}
  <div class="row">
    {{#connect-links}}
    {{/connect-links}}
  </div>
</div>
