
<div class="main">
  <div class="12-col" id="about">
    {{#link-to "about"}}
    <h3>about</h3>
    {{/link-to}}
  </div>
  <div class="8-col" id="name">
    <h3>Aly Doerscher</h3>
    <h5>Frontend Developer</h5>
    <ul class="contact-list">
      <li class="contact-icon"><a href="#">email</a></li>
      <li class="contact-icon"><a href="#">github</a></li>
      <li class="contact-icon"><a href="#">linkedin</a></li>
    </ul>
  </div>
  <div class="4-col" id="skills">
    <h5>skills</h5>
    <ul class="skills-list">
      {{#each skills as |skill|}}
        <li>{{skill.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="12-col" id="education">
    {{#each education as |entry|}}
    <div class="education-list-item">
      <p class="small-title">{{entry.title}}</p>
      <h4>{{entry.school}}</h4>
      <h4>{{entry.program}}</h4>
      <h4>{{entry.area}}</h4>
      {{#if entry.honors}}
        <h4><em>with Honors</em></h4>
      {{/if}}
    </div>
    {{/each}}
  </div>
  <div class="8-col" id="projects">
    {{#link-to "projects"}}
    <h3>projects</h3>
    {{/link-to}}
  </div>
  <div class="4-col" id="experience">
    {{#link-to "experience"}}
    <h3>experience</h3>
    {{/link-to}}
  </div>
</div>

<!-- {{outlet}} -->
