
<div class="main">
  <div class="col-12" id="about">
    {{#link-to "about"}}
    <h1>About</h1>
    {{/link-to}}
  </div>
  <div class="row">
    <div class="col-8" id="name">
      <h1>Aly Doerscher</h1>
      <h2>Frontend Developer</h2>
      <ul class="contact-list">
        <li class="contact-icon">
          <a href="#"><img src="assets/images/mail-icon.png" alt="" /></a>
        </li>
        <li class="contact-icon">
          <a href="#">
          <img src="assets/images/git-icon.png" alt=""></a>
        </li>
        <li class="contact-icon">
          <a href="#"><img src="assets/images/li-icon.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="col-4" id="skills">
      <p class="col-12 small-title">skills</p>
      <ul class="skills-list">
        {{#each skills as |skill|}}
          <li>{{skill.name}}</li>
        {{/each}}
      </ul>

      <div {{action "slideDisplay" on="click"}} class="skills-screen">
        <h1>Skills</h1>
      </div>

    </div>
  </div>
  <div class="col-12" id="education">
    {{#each education as |entry|}}
    <div class="education-list-item">
      <p class="small-title">{{entry.title}}</p>
      <h4>{{entry.school}}</h4>
      <h4>{{entry.program}}</h4>
      <h4>{{entry.area}}</h4>
      {{#if entry.honors}}
        <h4><em>with Honors</em></h4>
      {{/if}}
    </div>
    {{/each}}
  </div>
  <div class="col-8" id="projects">
    {{#link-to "projects"}}
    <h3>projects</h3>
    {{/link-to}}
  </div>
  <div class="col-4" id="experience">
    {{#link-to "experience"}}
    <h3>experience</h3>
    {{/link-to}}
  </div>
</div>

<!-- {{outlet}} -->
