
<div class="container main">
  <div class="row">
    <div class="col-4" id="connect">
      {{#connect-links}}
      {{/connect-links}}
    </div>
    <div class="col-6" id="about">
      {{#link-to "about"}}
      <p class="small-title">About</p>
      <p class="med-paragraph">
        Hi! Nice to meet you. I’m a cat-loving developer with a passion for beautiful sites as well as beautiful chairs . . .
      </p>
      {{/link-to}}
    </div>
  </div>
  <div class="row" id="row1">
    <div class="col-6" id="name">
      <h1>I'm Aly</h1>
      <h2>Frontend Developer</h2>
    </div>
    <div class="col-6" id="projects">
      <p class="small-title">Work</p>
      {{#link-to "work"}}
      <h3>Here's what I can do</h3>
      {{/link-to}}
    </div>
  </div>
  <div class="col-12" id="education">
    {{#each model.education as |entry|}}
    <div class="education-list-item">
      <p class="small-title">{{entry.title}}</p>
      <h4>{{entry.school}}</h4>
      <h4>{{entry.program}}</h4>
      <h4>{{entry.area}}</h4>
      {{#if entry.honors}}
        <h4><em>with Honors</em></h4>
      {{/if}}
    </div>
    {{/each}}
    <div {{action "slideEdu"}} class="education-cover">
      <p class="small-title">Education</p>
      <h2>My background in art and design gave me a strong visual sensibility and a love of problem solving. When I started programming I found the perfect medium. </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6" id="skills">
      <p class="col-12 small-title">Skills</p>
      <ul class="skills-list">
        {{#each model.skills as |skill|}}
          <li>{{skill.name}}</li>
        {{/each}}
      </ul>
      <div {{action "slideSkills" on="click"}} class="skills-cover">
        <p class="col-12 small-title">Skills</p>
        <h2>I have experience with modern frameworks such as React and Ember as well as strong fundamentals in Jacascript, HTML, & CSS </h2>
      </div>
    </div>

    <div class="col-6" id="experience">
      <p class="small-title">Experience</p>
      {{#link-to "experience"}}
      <h3>Here's what I've done</h3>
      {{/link-to}}
    </div>
  </div>

</div>

<!-- {{outlet}} -->
