
<div class="main">
  <div class="col-12" id="about">
    {{#link-to "about"}}
    <h2>About</h2>
    {{/link-to}}
  </div>
  <div class="col-8" id="name">
    <h1>Aly Doerscher</h1>
    <h2>Frontend Developer</h2>
    <ul class="contact-list">
      <li class="contact-icon">
        <a href="#"><img src="assets/images/mail-icon.png" alt="" /></a>
      </li>
      <li class="contact-icon">
        <a href="#">
        <img src="assets/images/git-icon.png" alt=""></a>
      </li>
      <li class="contact-icon">
        <a href="#"><img src="assets/images/li-icon.png" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="col-4" id="skills">
    <h5>skills</h5>
    <ul class="skills-list">
      {{#each skills as |skill|}}
        <li>{{skill.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-12" id="education">
    {{#each education as |entry|}}
    <div class="education-list-item">
      <p class="small-title">{{entry.title}}</p>
      <h4>{{entry.school}}</h4>
      <h4>{{entry.program}}</h4>
      <h4>{{entry.area}}</h4>
      {{#if entry.honors}}
        <h4><em>with Honors</em></h4>
      {{/if}}
    </div>
    {{/each}}
  </div>
  <div class="col-8" id="projects">
    {{#link-to "projects"}}
    <h3>projects</h3>
    {{/link-to}}
  </div>
  <div class="col-4" id="experience">
    {{#link-to "experience"}}
    <h3>experience</h3>
    {{/link-to}}
  </div>
</div>

<!-- {{outlet}} -->
