
{{#nav-bar}}
{{/nav-bar}}

<div class="container">
  <div class="row intro-row">
    <div class="col-6 work-intro">
      <p class="small-title">Misson</p>
      <p>I think the web should be both beautiful and functional. I'm always striving to find the perfect balance of simplicity to create an effortless experience.</p>
    </div>
    <div class="col-6 title">
      <p class="small-title">Formula</p>
      <h1>Form + Function</h1>
    </div>
  </div>
  <div id="projects-view">
    <p class="small-title">Work</p>
    {{#each projects as |project|}}
    <div class="row">
      <div class="project-image">
        <a href="{{project.links.[1]}}" target="_blank">
          <img src="{{project.image}}" alt="{{project.title}}">
        </a>
      </div>
      <div class="project-info">
        <a href="{{project.links.[1]}}" target="_blank">
          <h1>{{project.title}}</h1>
        </a>
        <h5>{{{project.skills}}}</h5>
        <p>{{project.description}}</p>
        <a href="{{project.links.[0]}}" target="_blank"><h5>View code</h5></a>
      </div>
    </div>
    {{/each}}
  </div>
  {{#connect-links}}
  {{/connect-links}}
</div>
